{% load static %}
<!DOCTYPE html>
<html lang="ko">
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Monthly_Project1
        </title>
    </head>
    <body>
        <h1>Monthly1 Project</h1>
        <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~GwanWoo-Jang/5.embed"></iframe>
        <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~GwanWoo-Jang/3.embed"></iframe>
        <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~GwanWoo-Jang/1.embed"></iframe>
    </body>
</html>
